@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-text: #ffffff;
  --c-background: #060606;
  --c-primary: #80d837;
  --c-secondary: #2d4141;
  --c-secondary-200: #a5c0c0;
  --c-accent: #24da57;
}
